<template>
 <form class="form-text" @submit.prevent="$emit('submit', text); text=''">
   <input class="input" v-model="text" v-bind:placeholder="placeholderString"/>
   <btn text="Добавить"/>
 </form>
</template>

<script>
import Btn from './btn';
export default {
  data(){
    return{
      text: "",
      placeholderString:"Введите название заметки",
    }
  },
  components:{Btn},
  name: "addNote",
  emits:["submit"],
}
</script>

<style scoped>
.form-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.input{
  width: 25%;
  margin-right: 20px;
}
</style>
