<template>
  <span>
      <button class="btn">{{ text }}</button>
  </span>
</template>

<script>

export default {
  props: ["text"],
  name: "btn",
}
</script>

<style scoped>
.btn {
  border: none;
  color: white;
  background-color: green;
  font-size: 25px;
  width: 200px;
}
</style>
