<template>
  <li>
    <p class="note-text">{{text}}<checkbox-input @click="$emit('click')"/></p>
  </li>
</template>

<script>
import CheckboxInput from "./chekboxInput";
export default {
  name: "note",
  components: {CheckboxInput},
  props: ["text"],
  emits:["click"],
  data(){
    return{
      notes:[]
    }
  }
}
</script>

<style scoped>
.note-text{
  font-size: 20px;
}
</style>
