<template>
  <div>
    <h1 class="addNoteText">To Do List</h1>
    <add-note v-on:submit="addNewNote"/>
    <hr/>
    <ul class="note-list" v-if="items.length !== 0">
        <note :text="item.text" v-for="(item, idx) in items" :key="item.id" v-on:click="removeNote(idx)">
        </note>
    </ul>
    <div v-else>Заметок нет!</div>
  </div>
</template>

<script>
import AddNote from "./addNote";
import Note from "./note";

export default {
  data() {
    return {
      items: [
        {text: "text 1", id: 1},
        {text: "text 2", id: 2},
      ]
    }
  },
  name: "toDoList",
  components: {Note, AddNote},
  mounted() {
    if (localStorage.items){
      this.items = JSON.parse(localStorage.items)
    }
  },
  watch:{
    items(newItems) {
      localStorage.items = JSON.stringify(newItems)
    }
  },
  methods:{
    removeNote(idx){
      this.items.splice(idx, 1)
    },
    addNewNote(text) {
      if (text !== '') {
        const {items} = this
        const{id} = items.length ? items[items.length -1] : {id: 1}
        const newNote = {text, id: id+1}
        this.items.push(newNote)
      }
    }
  }
}
</script>

<style scoped>
.addNoteText{
  text-align: center;
  font-size: 40px;
  color: blue;
}
.note-list{
  list-style: none;
  text-align: center;
}
</style>
